.Certification{
  background-color:rgb(245, 248, 248);
  margin:0px;
  height: 80vh;
}
.iosswitch{
  width:100%;
  place-content: center ;
}
.grid-container{
    margin:20px 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:5px;
    justify-content: center;
    
}
/* Card*/
.Card{
  border:none;
  margin:30px;
  padding: 3px;
}
.image{
 background-size:auto;
 bottom:0;
}
.Card:hover{
  transform: scale(1.1);
  background-color:antiquewhite;
}
.CardTitle{
  text-align: center;
}
.CardLink{
  text-decoration: none;
}
.yellow{
    color:yellow;
}
.success{
    color: green;
}
.darkblue{
    color: navy;
}
.blue{
    color: lightblue;
}
.Card_List{
   color: black;
}

@media screen and (width< 1140px) {
    .grid-container{
       display: grid;
       grid-template-columns: auto auto auto ;
       gap:5px;
     }
   }
@media screen and (width<980px) {
  .grid-container{
     display: grid;
    grid-template-columns: auto auto;
    gap:5px;
  }
}
@media screen and (width<580px) {
 .grid-container{
    display: grid;
    grid-template-columns: auto ;
    gap:5px;
  }
} 
