.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:5px;
}

.yellow{
    color:yellow;
}
.success{
    color: green;
}
.darkblue{
    color: navy;
}
.blue{
    color: lightblue;
}
.Card_List{
   color: black;
}