.about {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:rgb(245, 248, 248);
}

.aboutdetail {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
/*animation*/
.animation {
    animation: type 8s;
    animation-timing-function: step(12);
    width: 100ch;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes type {
    0% {
        width: 0ch;
    }

    100% {
        width: 100ch;
    }
}

.cv_download_button {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    background-color:bisque;
}

.cv_download_button:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
}

.aboutimage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardimage{
    position: relative;
    left: 0;
    animation-name: move-left;
    animation-duration: 3s;
    animation-timing-function: ease;
}

  @keyframes move-left {
    from {
      left: 0;
    }
    to {
      left: 30px;
    }
  }