.Footer{
    background-color: rgb(245, 248, 248);
     display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height:fit-content;
    margin: 0px;
}
.Footer_Contact{
    background-color:rgb(245, 248, 248);
    font-weight: bold;
    text-align: center;
}
.Footer_Container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 30px;
    margin:30px;
}
.Footer_anchor{
text-decoration: none;
}